spring:
  application:
    name: RefCard03
  datasource:
    url: jdbc:mariadb://localhost:3306/jokedb
    username: joker
    password: hahaha
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    open-in-view: true
  mvc:
    log-request-details: true
  jackson:
    serialization:
      indent-output: true
logging:
  pattern:
    console: "%clr(%5p) %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:%wEx}"
  level:
    web: DEBUG
